---

- name: test if docker service is running
  systemd:
    name: docker
    state: started
    enabled: yes
  ignore_errors: true
  changed_when: false
  register: docker_status
  no_log: "{{ debug_hide }}"

- name: stop playbok as docker is not running
  meta: end_play
  when: not(docker_status.failed)
